.form-item-attribute-type {
  float: left;
  margin-right: 50px !important;
}

.attribute_operator {
  float: left;
    margin-right: 50px !important;
}

.attribute_val {
  float: left;
  margin-right: 50px !important;  
}

.form-item-title {
  clear:both;
}

#attribute_add {
  cursor: pointer;
  color: #333;
  font-size: 13px;
  text-align: center;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  padding: 6px;
}

#attribute_add:hover{
  border-color: #ace;
  -webkit-box-shadow: #ace 0 0 5px;
  -moz-box-shadow: #ace 0 0 5px;
  box-shadow: #ace 0 0 5px;
} 

#data-store-table .remove_class{
  cursor: pointer;
  color: #333;
  font-size: 13px;
  text-align: center;
  font-weight: normal;
  border-width: 1px;
  border-color: #ddd;
  padding: 10px;  
}

#data-store-table tr td {
  text-align: center;
}

#data-store-table thead tr th {
  text-align: center;
}

#data-store-table tbody tr th {
  text-align: center;
}
#edit-submit {
  margin:10px 20px 20px 0px; 
}

#edit-title {
  margin:10px 20px 20px 0px;
}

#data-store-table {
  margin-top: 60px;
  margin-bottom: 20px;
}

.form-item-from-date label {
  display:none;
}

.add_div {
    margin-top: 40px;
    margin-bottom: -35px;
}

#content_link_top {
  color: #027AC6;
  text-decoration: none;
}

#content_link_top:hover {
  cursor: pointer;
  text-decoration:underline;
}

#content_link_bottom {
  color: #027AC6;
  text-decoration: none;
  clear: both;
    float: left;
}

#content_link_bottom:hover {
  cursor: pointer;
  text-decoration:underline;
}

#links_bottom {
  clear: both;
  border: solid 1px;
  padding:5px;
  margin: 5px;
}

#links_top {
  border: solid 1px;
  padding:5px;
  margin: 5px;
}

.result_section {
  font-weight: bold;
  font-size: 16px;
  font-family: calibri;
  color: black;
}

.result_count {
  font-weight: bold;
  color:#898989;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}

